@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  background: url('../src/assets/BackgroundImg/438420-PEHLG6-790.jpg') fixed; 
  background-size: cover; 
}

h1 , h2 , h3 , h4 , h5 , h6 {
  color: #ffffff;
}

p {
  color: #ffffff;
}
